#divulgacion{
    margin-top: 180px;
}

/* Celular*/
@media screen and (max-width: 400px) {

    section {
        scroll-margin-top: 200px;
    }

    #divulgacion {
        margin-top: 210px;
    }
}