/* Secciones */
section {
    padding: 30px 5%;
    box-sizing: border-box;
    overflow: hidden;
}

/* Carrusel */
.carrusel {
    padding-top: 170px;
    padding-bottom: 0px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.carrusel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carrusel-item img {
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: contain;
    display: block;
}

/* Controles del carrusel */
.carrusel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.carrusel-control.prev {
    left: 20px;
}

.carrusel-control.next {
    right: 20px;
}

.carrusel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Galería de imágenes */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Siempre 4 columnas */
    gap: 15px;
    width: 100%;
    margin-top: 30px;
    padding: 0px 5%;
    border-radius: 10px;
    box-sizing: border-box;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 10px;
    background-color: #f3e2da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}



/* Estilos para redes */
#redes h2 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.redes-imagenes {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    padding: 0 5%;
    box-sizing: border-box;
}

.redes-imagenes img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

.redes-imagenes img:hover {
    transform: scale(1.5);
}



/* Estilos para celulares */

@media (max-width: 600px) {

    .carrusel {
        padding-top: 15px;
    }

    .gallery-container {
        width: 100%;
        margin-top: -30px;
        grid-template-columns: repeat(2, 1fr); /* Solo 2 columnas */
    }
    .gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 15px;
    background-color: #f3e2da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .gallery-item:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .gallery-item img {
        width: 100%;
        height: 140px;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease;
    }    
}


    
