:root {
    --reset-margin: 0;
    --reset-padding: 0;
    --box-sizing: border-box;
    --text-decoration: none;
    --list-style: none;
}

#mapa-1 {
    margin-bottom: 780px; /* Ajusta este valor según la separación deseada */
}
